# Compiled Object files
*.o
*.obj

# Executables (The actual 'running' programs)
*.exe
*.out
*.app

# IDE Specific (If you used Code::Blocks, Dev-C++, or Visual Studio)
.vscode/
.vs/
*.layout
*.depend

# Debugging data
*.pdb
*.ilk

# System files
.DS_Store
Thumbs.db
desktop.ini